@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Welcome to PawMates!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="jumbotron">
    @*<h1 class="display-3">Hello, world!</h1>*@
    <h1 class="display-3">Welcome to PawMates!</h1>
    <p class="lead">Looking for a playmate for your canine companion? You've come to the right place.</p>
    <hr class="my-4">
    <p>Because we know the doggie dating scene can be "ruff".</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>